/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 3, 2014, 8:14:37 AM
    Author     : Student
*/
#gameOver, #playHUD{
    position: absolute;
    visibility: hidden;
    padding-left: 350px;
    padding-top: 150px;
    /*this gives visibility to my sccreens and play hud*/
}
#startScreen{
    visibility: hidden;
}
#game-screen{
    display: block;
}
/*this shapes the game screen*/
body{
    border: 0;
    margin: 0;
}
/*this removes the borders and margins*/

h1,h2, h3 {
    font-family: 'Permanent Marker', cursive;
    color:black;
}//this gives my headers its fonts
.title{
    font-size: 67px;
}//this edits my font size
#restartButton{
    font-size: 52px;
    text-align: center;
    border-radius: 10px;
}
/*this customizes my restart button*/